{% set dab_push_selected_nav = app.session.get('dab_push_selected_nav') %}


<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PushNotificationsBundle{% endblock %}</title>
    <link href="{{ asset("bundles/dabsquaredpushnotifications/css/bootstrap.css") }}" rel="stylesheet" />
    <link href="{{ asset("bundles/dabsquaredpushnotifications/css/morris.css") }}" rel="stylesheet" />
    <link href="{{ asset("bundles/dabsquaredpushnotifications/css/jquery-ui-1.10.4.custom.min.css") }}" rel="stylesheet" />

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("dabsquared_push_notifications_dashboard") }}">PushNotificationsBundle</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="{% if dab_push_selected_nav == 'dashboard' %}active{% endif %}">
                    <a href="{{ path('dabsquared_push_notifications_dashboard') }}">Dashboard</a>
                </li>
                <li class="{% if dab_push_selected_nav == 'devices' %}active{% endif %}">
                    <a href="{{ path('dabsquared_push_notifications_devices') }}">Devices</a>
                </li>
                <li class="{% if dab_push_selected_nav == 'messages' %}active{% endif %}">
                    <a href="{{ path('dabsquared_push_notifications_messages') }}">Messages</a>
                </li>
                <li class="{% if dab_push_selected_nav == 'create_message' %}active{% endif %}">
                    <a href="{{ path('dabsquared_push_notifications_create_push_messages') }}">Create Mass Message</a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>


<div class="container" style="padding-top: 60px;">
    {% block content %}
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/jquery.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/jquery-ui-1.10.4.custom.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/raphael-min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/morris.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("bundles/dabsquaredpushnotifications/js/typeahead.bundle.js") }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>